html, body {
  background-color: black;
  margin: 5%;
  padding: 0;
  color: green;
  font-size: large;
}
canvas {
  display: block;
  background-color: grey;
}

textarea{
  background-color: aqua;
  color:blue;
  font-size: x-large;
  font-family: monospace;
}
